# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/angular-app/dist
/angular-app/tmp
/angular-app/out-tsc
/angular-app/bazel-out

# Node
/angular-app/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
.history/*

# Miscellaneous

/angular-app/.angular/cache
.sass-cache/
/angular-app/connect.lock
/angular-app/coverage
/angular-app/libpeerconnection.log
testem.log
/angular-app/typings

# System files
.DS_Store
Thumbs.db
