<div class="app-background"></div>

<div class="app">
  <h1>
    WSECU Member Portal
  </h1>
  <p>
    Hi!  Welcome to the WSECU Front End Tech Challenge.  Please refer to instructions delivered separately.
  </p>
  <p>
    To help you accomplish this tech challenge we have already scaffolded out services that you can use to access the data you need.
  </p>
  <p>
    Please see the following classes which will allow you to interact with our "API":
  </p>
  <ul>
    <li>StubMemberApiService</li>
    <li>StubPreapprovalApiService</li>
  </ul>

  <p>
    <strong>Good Luck!</strong>
  </p>
</div>

<router-outlet></router-outlet>

