<div class="app">
  <h1>
    Member Portal
  </h1>
  <p>
    Hi!  Welcome to the Front End Tech Challenge.  To work on this challenge, please refer to instructions that should have been delivered separately.
  </p>
  <p>
    To help you accomplish this tech challenge we have already scaffolded out services that you can use to access the data you need.
  </p>
  <p>
    Please see the following classes which will allow you to interact with our "API":
  </p>
  <ul>
    <li>StubMemberApiService - A service that you can use to send requests to our Member CRUD "API"</li>
  </ul>

  <p>
    <strong>Good Luck!</strong>
  </p>

  <router-outlet></router-outlet>
</div>

